.task {
    display: flex;
    align-items: center;
    gap: 0.7em;
    position: relative;
}

.task::before {
    background-color: transparent;
    transition: background-color 4s;
}

.task > * {
    z-index: 1;
}

.task:hover::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    transform: translateX(-1.5%);
    background-color: var(--main-darker);
    z-index: 0;
}

@media(max-width: 30em) {
    .task button{
        background-color: var(--danger);
        color: var(--white);
    }
}

.task:hover button {
    background-color: var(--danger);
    color: var(--white);
}

.task.completed {
    color: var(--main-lighter);
}

/* Inner container must be inline */
.task.completed .content > span {
    position: relative;
}

.task.completed .content > span::before {
    content: "";
    position: absolute;
    background-color: var(--main-lighter);
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(50%);
    height: 1.5px;
    animation-name: completed;
    animation-duration: 0.35s;
}

@keyframes completed {
  from {
    right: 100%
  }

  to {
    right: 0%
  }
}

.check {
    height: 1rem;
    width: 1rem;
    accent-color: var(--accent);
    caret-color: white;
}

.content {
    flex-grow: 1;
}

.deleteButton {
    background-color: transparent;
    color: transparent;
    border-radius: 0.2em;
    padding: 0.3em 0.2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deleteButton:hover {
    cursor: pointer;
}

.deleteButton svg {
    height: 18px;
    width: 18px;
    stroke-width: 1.4;
}
